<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white shadow-lg rounded-lg overflow-hidden w-11/12 sm:w-9/12 md:w-7/12 lg:w-5/12 flex flex-col md:flex-row">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="bg-main text-black p-8">
        <h2 class="text-2xl font-bold mb-4">Welcome Back!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</p>
      </div>
      <div class="p-8">
        <%= tag.div(flash[:alert], class: "text-red-500") if flash[:alert] %>
        <%= tag.div(flash[:notice], class: "text-green-500") if flash[:notice] %>
        <%= render 'sessions/login' %>
        <div class="mt-4">
          <%= link_to "Forgot password?", new_password_path, class: "text-indigo-600 hover:text-indigo-900" %>
        </div>
        <div class="mt-2">
          <%= link_to "Create an account", new_registration_path, class: "text-indigo-600 hover:text-indigo-900" %>
        </div>
      </div>
    </div>
  </div>
</div>
