<%= form_with model: @user, url: registration_path, class: "space-y-6" do |form| %>
  <% if @user.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">There were some errors with your submission:</strong>
      <ul class="mt-2">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render_input(
    name: 'user[first_name]',
    type: 'text',
    placeholder: 'Enter your first name',
    label: true,
    required: true,
    autofocus: true,
    id: 'user_first_name',
  ) %>
  <%= render_input(
    name: 'user[last_name]',
    type: 'text',
    placeholder: 'Enter your last name',
    label: true,
    required: true,
    id: 'user_last_name',
  ) %>
  <%= render_input(
    name: 'user[email_address]',
    type: 'text',
    placeholder: 'Enter your email address',
    label: true,
    required: true,
    autocomplete: 'username',
    id: 'user_email_address',
  ) %>
  <%= render_input(
    name: 'user[password]',
    type: 'password',
    placeholder: 'Enter your password',
    label: true,
    required: true,
    autocomplete: 'new-password',
    maxlength: 72,
    id: 'user_password',
  ) %>
  <%= render_input(
    name: 'user[password_confirmation]',
    type: 'password',
    placeholder: 'Confirm your password',
    label: true,
    required: true,
    autocomplete: 'new-password',
    maxlength: 72,
    id: 'user_password_confirmation',
  ) %>
  <div>
    <%= form.label :locale, class: "block text-gray-700" %>
    <%= form.select :locale, User.valid_locales.map { |locale| [locale.upcase, locale] }, {}, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>
  <div>
    <%= render_button(
      text: 'Sign up',
      button_type: 'submit',
      class: "cursor-pointer",
      bg_class: "bg-orange-600 hover:bg-orange-700",
    ) %>
  </div>
<% end %>
