<%= form_with model: @subscription, local: true, class: "space-y-6" do |form| %>
  <%= render 'shared/forms/errors', object: @subscription %>

  <div>
    <%= form.label :name, class: "block text-gray-700" %>
    <%= form.select :name, options_for_select(formatted_subscription_names, @subscription.name), {}, class: "flex h-10 items-center text-text bg-main justify-between rounded-base border-2 border-border px-3 py-2 text-sm font-base ring-offset-white placeholder:text-text placeholder:opacity-50 focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full" %>

  </div>
  <div>
    <%= form.label :price, class: "block text-gray-700" %>
    <%= form.number_field :price, step: 0.01, class: "flex h-10 rounded-base border-2 text-text font-base selection:bg-main selection:text-text border-border bg-white px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-base focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full" %>
  </div>
  <div>
    <%= form.label :billing_frequency, class: "block text-gray-700" %>
    <%= form.select :billing_frequency, options_for_select(['Monthly', 'Annual'], @subscription.billing_frequency), {}, class: "flex h-10 items-center text-text bg-main justify-between rounded-base border-2 border-border px-3 py-2 text-sm font-base ring-offset-white placeholder:text-text placeholder:opacity-50 focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&>span]:line-clamp-1 w-full" %>
  </div>
  <div>
    <%= form.label :started_at, class: "block text-gray-700" %>
    <div class="flex gap-4">
      <%= form.date_select :started_at, {prompt: { day: 'DD', month: 'MM', year: 'YYYY' }}, class: "flex-1 h-10 items-center text-text bg-main justify-between rounded-base border-2 border-border px-3 py-2 text-sm font-base ring-offset-white placeholder:text-text placeholder:opacity-50 focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&>span]:line-clamp-1" %>
    </div>
  </div>
  <div>
    <%= form.label :expires_at, class: "block text-gray-700" %>
    <div class="flex gap-4">
      <%= form.date_select :expires_at, {prompt: { day: 'DD', month: 'MM', year: 'YYYY' }}, class: "flex-1 h-10 items-center text-text bg-main justify-between rounded-base border-2 border-border px-3 py-2 text-sm font-base ring-offset-white placeholder:text-text placeholder:opacity-50 focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 [&>span]:line-clamp-1" %>
    </div>
  </div>
  <div class="flex justify-between border-t border-gray-200 pt-2">
    <% if @subscription.persisted? %>
      <%= render_button(
        text: "Cancel",
        button_type: "link_to",
        link: subscription_path(@subscription),
        bg_class: "bg-gray-500 text-white hover:bg-gray-600"
      ) %>
    <% else %>
      <%= render_button(
        text: "Cancel",
        button_type: "link_to",
        link: subscriptions_path,
        bg_class: "bg-gray-500 text-white hover:bg-gray-600"
      ) %>
    <% end %>
    <%= render_button(
      text: form.object.new_record? ? "Create Subscription" : "Update Subscription",
      button_type: "submit",
      bg_class: "bg-green-500 text-white hover:bg-green-600"
    ) %>
  </div>
<% end %>
